export(
       "meanNA","medianNA","sdNA","which.minNA",
       "is.tna","catShort","NAtrunc",
       "longData","as.longData","plotTraj",
       "gald","generateArtificialLongData",
       "LETTERSletters","METHODS",
       "distTraj",
       "distFrechet","distFrechetR","distFrechetRec",
       "pathFrechet","pathFrechetR"
)
exportMethods(
    "selectSupTrajMinSize",
    "plot","plotSubGroups",
    "partition","ordered","criterion","imputation"
)
exportClasses(
    "LongData",
    "Partition"
)

import(methods,graphics,clv)
